@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --green: #16a085;
  --black: #444;
  --light-color: #777;
  --box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  --border: 0.2rem solid turquoise;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background-image: url("");
}

.zzzz {
  background-image: url("assets/bg5.jpg");
  background-size: contain;
}

.line {
  border-top: 5px dashed var(--black);
}

.risk {
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color: var(--black);
  font-size: 2rem;
  letter-spacing: 0.4rem;
}

.risk span {
  text-transform: uppercase;
  color: peachpuff;
}

.heading {
  margin-top: 60px;
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color: var(--black);
  font-size: 5rem;
  letter-spacing: 0.4rem;
}

.heading span {
  text-transform: uppercase;
  color: turquoise;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  color: turquoise;
  cursor: pointer;
  font-size: 1.7rem;
  background: #fff;
}

.btn span {
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  background: turquoise;
  color: #fff;
  margin-left: 0.5rem;
}

.btn:hover {
  background: turquoise;
  color: #fff;
}

.btn:hover span {
  color: turquoise;
  background: #fff;
  margin-left: 1rem;
}

.header {
  padding: 2rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}

.header .logo {
  font-size: 2.5rem;
  color: var(--black);
}

.header .logo i {
  color: turquoise;
}

.header .navbar a {
  font-size: 1.7rem;
  color: var(--light-color);
  margin-left: 2rem;
}

.header .navbar a:hover {
  color: turquoise;
}

.dropdown {
  overflow: hidden;
  float: right;
}

.dropdown .dropbtn {
  float: right;
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--light-color);
  padding-left: 20px;
  background-color: inherit;
  font-family: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#menu-btn {
  font-size: 2.5rem;
  border-radius: 0.5rem;
  background: #eee;
  color: turquoise;
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: none;
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 10rem;
}
#logo{
    width: 100px;
    height: 100px;
    top: 0px;
    left:0px;
}
.home .image {
  flex: 1 1 45rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  flex: 1 1 45rem;
}

.home .content h3 {
  font-size: 4.5rem;
  color: var(--black);
  line-height: 1.8;
  text-shadow: var(--text-shadow);
}

.home .content p {
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
}

.icons-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons-container .icons {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  text-align: center;
  padding: 2.5rem;
}

.icons-container .icons i {
  font-size: 4.5rem;
  color: turquoise;
  padding-bottom: 0.7rem;
}

.icons-container .icons h3 {
  font-size: 4.5rem;
  color: var(--light-color);
  padding: 0.5rem 0;
  text-shadow: var(--text-shadow);
}

.icons-container .icons p {
  font-size: 1.7rem;
  color: var(--light-color);
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 2.5rem;
}

.services .box-container .box i {
  color: turquoise;
  font-size: 5rem;
  padding-bottom: 0.5rem;
}

.services .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
  padding: 1rem 0;
}

.services .box-container .box p {
  color: var(--light-color);
  font-size: 1.4rem;
  line-height: 2;
}

.about {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/765/958/389/colorful-abstract-design-background-wallpaper-preview.jpg);
  background-size: cover;
}

.about .row {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.about .row .image img {
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
}
.about .row .image img:hover {
  cursor: pointer;
  border-color: green;
  border-width: 15px;
  border-style: outset;
}
.about .row .image h2 {
  font-size: 60px;
  padding-left: 100px;
  color: green;
}
.about .row .content img {
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
}
.about .row .content h2 {
  font-size: 60px;
  padding-left: 90px;
  color: red;
}
.about .row .content img:hover {
  cursor: pointer;
  border-color: red;
  border-width: 15px;
  border-style: outset;
}
/* .about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  color: var(--black);
  text-shadow: var(--text-shadow);
  font-size: 4rem;
  line-height: 1.8;
} */

/* .about .row .content p {
  color: var(--light-color);
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
} */

.doctors .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.doctors .box-container .box {
  text-align: center;
  background: #fff;
  border-radius: 0.5rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 2rem;
}

.doctors .box-container .box img {
  height: 20rem;
  border: var(--border);
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.doctors .box-container .box h3 {
  color: var(--black);
  font-size: 2.5rem;
}

.doctors .box-container .box span {
  color: rgb(233, 22, 22);
  font-size: 1.5rem;
}

.doctors .box-container .box .share {
  padding-top: 2rem;
}

.doctors .box-container .box .share a {
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: rgb(233, 22, 22);
  border-radius: 0.5rem;
  border: var(--border);
  margin: 0.3rem;
}

.doctors .box-container .box .share a:hover {
  background: rgb(233, 22, 22);
  color: #fff;
  box-shadow: var(--box-shadow);
}
.book {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/765/958/389/colorful-abstract-design-background-wallpaper-preview.jpg);
  background-size: cover;
}
.book .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.book .row .image {
  flex: 1 1 45rem;
}

.book .row .image img {
  width: 100%;
}

.book .row form {
  flex: 1 1 45rem;
  background: #fff;
  border: var(--border);
  box-shadow: var(--box-shadow);
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
}

.book .row form h3 {
  color: var(--black);
  padding-bottom: 1rem;
  font-size: 3rem;
}

.book .row form .box {
  width: 100%;
  margin: 0.7rem 0;
  border-radius: 0.5rem;
  border: var(--border);
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
  padding: 1rem;
}

.book .row form .btn {
  padding: 1rem 4rem;
}

.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}

.review .box-container .box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 2.5rem;
  background: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.review .box-container .box img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  border: 0.5rem solid #fff;
}

.review .box-container .box h3 {
  color: #fff;
  font-size: 2.2rem;
  padding: 0.5rem 0;
}

.review .box-container .box .stars i {
  color: #fff;
  font-size: 1.5rem;
}

.review .box-container .box .text {
  color: var(--light-color);
  line-height: 1.8;
  font-size: 1.6rem;
  padding-top: 4rem;
}

.review .box-container .box::before {
  content: "";
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(233, 22, 22);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 25rem;
  width: 120%;
  z-index: -1;
}

.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.blogs .box-container .box {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  padding: 2rem;
}

.blogs .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  border-radius: 0.5rem;
}

.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blogs .box-container .box:hover .image img {
  transform: scale(1.2);
}

.blogs .box-container .box .content {
  padding-top: 1rem;
}

.blogs .box-container .box .content .icon {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blogs .box-container .box .content .icon a {
  font-size: 1.4rem;
  color: var(--light-color);
}

.blogs .box-container .box .content .icon a:hover {
  color: rgb(233, 22, 22);
}

.blogs .box-container .box .content .icon a i {
  padding-right: 0.5rem;
  color: rgb(233, 22, 22);
}

.blogs .box-container .box .content h3 {
  color: var(--black);
  font-size: 3rem;
}

.blogs .box-container .box .content p {
  color: var(--light-color);
  font-size: 1.5rem;
  line-height: 1.8;
  padding: 1rem 0;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--black);
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: turquoise;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  color: var(--light-color);
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.footer .credit span {
  color: turquoise;
}

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: initial;
  }

  .header .navbar {
    position: absolute;
    top: 115%;
    right: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    border: var(--border);
    background: #fff;
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
    transition: none;
  }

  .header .navbar.active {
    transform: scale(1);
    opacity: 1;
    transition: 0.2s ease-out;
  }

  .header .navbar a {
    font-size: 2rem;
    display: block;
    margin: 2.5rem;
  }
}

.blogs {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/765/958/389/colorful-abstract-design-background-wallpaper-preview.jpg);
  background-size: cover;
}

.blogs .row .image img {
  width: 100%;
}

.blogs .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.blogs .row form {
  flex: 1 1 45rem;
  background: #fff;
  border: var(--border);
  box-shadow: var(--box-shadow);
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
}

.blogs .row form h3 {
  color: var(--black);
  padding-bottom: 1rem;
  font-size: 3rem;
}

.blogs .row form .box {
  width: 100%;
  margin: 0.7rem 0;
  border-radius: 0.5rem;
  border: var(--border);
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
  padding: 1rem;
}

.blogs .row form .btn {
  padding: 1rem 4rem;
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

.register {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/765/958/389/colorful-abstract-design-background-wallpaper-preview.jpg);
  background-size: cover;
}

.register .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.register .row .image {
  flex: 1 1 45rem;
}

.register .row .image img {
  width: 100%;
}

.register .row form {
  flex: 1 1 45rem;
  background: #fff;
  border: var(--border);
  box-shadow: rgb(255, 129, 129) 5px 5px;
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
}

.register .row form h3 {
  color: var(--black);
  padding-bottom: 1rem;
  font-size: 3rem;
}

.register .row form .box {
  width: 100%;
  margin: 0.7rem 0;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color:turquoise;
  text-transform: none;
  border: 1px solid turquoise;
  padding: 10px;
  box-shadow: 5px 5px;
}

.register .row form .btn {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px;
  padding: 1rem 4rem;
}

.quality-care {
  background-image: url(https://s3.amazonaws.com/images.teladoc.com/www/2019/site/quality-care/hero-quality.jpg);
}

.quality-care .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}


.services .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services .row .image {
  flex: 1 1 45rem;
}

.services .row .image img {
  width: 100%;
}

.services .row .content {
  flex: 1 1 45rem;
}

.services .row .content h3 {
  color: var(--black);
  text-shadow: var(--text-shadow);
  font-size: 4rem;
  line-height: 1.8;
}

.services .row .content p {
  color: var(--light-color);
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
}

/* ADDED CSS HERE */

.img-resize {
  width: 220px;
  height: 250px;
}
.img-resize {
  width: 223px;
  height: 340px;
}
.swiper-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.swiper-wrapper-2 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.swiper-slide box h2 {
  align-items: center;
}

/* dos css */

.dos {
  padding-top: 80px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
}
.dos h2 {
  text-align: center;
  font-size: 50px;
  color: #09a048;
  text-decoration: underline;
}
.dos .row2 {
  display: flex;
  justify-content: space-between;
}
.p12 {
  flex-basis: 47%;
}
/* .p2{
  flex-basis: 47%;
} */
.dos .row2 .p12 {
  background-color: #09a048;
  font-size: 20px;
  /* padding-left: 15px; */
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50px;
}
.dos .row2 .p12 .content2 p {
  opacity: 0;
}
.dos .row2 .p12 .content2 h1 {
  line-height: 35px;
}
.dos .row2 .p12 .content2:hover p {
  cursor: pointer;
  opacity: 1;
}
.dos.row2 .p12 .content2 {
  position: relative;
}
.dos .row2 .p12 .content2 h1 {
  position: absolute;
  padding-top: 70px;
}
.dos .row2 .p12 .content2:hover h1 {
  opacity: 0;
}
.dos .row2 .p12 {
  display: flex;
}
.dos .row2 .p12 .imgs2 img {
  border-radius: 50px;
  width: 30vh;
  height: 30vh;
  padding-right: 10px;
  padding-left: 10px;
}
.dos h1 {
  font-size: 30px;
}

/* .box-container{
  height: 50%;
} */

/* .box-container .box img{
  height: 60vh;
  width: 100%;
}
.box-container-2 .box img{
  height: 60vh;
  width: 100%;
} */

.blogimg {
  height: 60vh;
  width: 100%;
}
.box-container-2 {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  display: flex;
  justify-content: space-around;
  text-align: justify;
}
.box-container:after {
  content: "";
  display: inline-block;
  width: 100%;
}
/* .box-container-2:after {
  content: '';
  display: inline-block;
  width: 100%;
} */
.box-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
/* #blogdown{
  justify-content: space-around;

} */

.box-container-2 .outer {
  border: 2px solid red;
}
.box-container-2 .outer {
  padding: 20px;
  padding-right: 20px;
}

/* donts css */
.donts {
  padding-top: 80px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
}
.donts h2 {
  text-align: center;
  font-size: 50px;
  color: rgb(233, 22, 22);
  text-decoration: underline;
}
.donts .row {
  display: flex;
  justify-content: space-between;
}
.p1 {
  flex-basis: 47%;
}
/* .p2 {
  flex-basis: 47%;
} */
.donts .row .p1 {
  background-color: #ff5c5c;
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50px;
}
.donts .row .p1 .content p {
  opacity: 0;
  color: #ffffff;
}
.donts .row .p1 .content h1 {
  line-height: 35px;
  color: #ffffff;
}
.donts .row .p1 .content:hover p {
  cursor: pointer;
  opacity: 1;
}
.donts .row .p1 .content {
  position: relative;
}
.donts .row .p1 .content h1 {
  position: absolute;
  padding-top: 70px;
}
.donts .row .p1 .content:hover h1 {
  opacity: 0;
}
.donts .row .p1 {
  display: flex;
}
.donts .row .p1 .imgs img {
  border-radius: 50px;
  width: 30vh;
  height: 30vh;
  padding-right: 10px;
  padding-left: 10px;
}
#more {
  display: none;
}
.box .content.para {
  color: black;
}
